<%-include('./includes/head.ejs')%>

<!-- PAGE HEADER -->
<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>Contactanos</h1>
        <p class="lead text-dark">
          Estamos a tu servicios, cualquier duda o pregunta no dudes en
          hacernosla saber
        </p>
      </div>
    </div>
  </div>
</header>

<!-- CONTACT SECTION -->
<section id="contact" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card p-4">
          <div class="card-body">
            <h4>Comunicate</h4>
            <p>
              Estamos a tu servicio de lunes a sábado en un horario de 11:00 a
              20:00
            </p>
            <h4>Dirección</h4>
            <p>
              Av. Universidad 1685-1 PB. Col. Villa Universidad Morelia, Mexico
              58060
            </p>
            <h4>Email</h4>
            <p>t2.morelia@gmail.com</p>
            <h4>CEL</h4>
            <p>+52 443 452 0532</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card p-4">
          <div class="card-body">
            <h3 class="text-center">
              ¿Tienes alguna duda o pregunta?, no olvides contactarnos
            </h3>
            <hr />
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nombre"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Apellido"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="CEL" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    placeholder="Mensaje"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="submit"
                    value="Contactar"
                    class="btn btn-outline-danger btn-block"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%-include('./includes/footer.ejs')%>
